.sm-page-container {
    background: #eee;
    margin: 0 auto;
    padding: 4em;
    width: 80em;
}

.sm-flashes {
    background: #333;
    color: #eee;
}

.sm-form-errors {
    background: red;
    color: white;
}